
:root {
  --silver: #bebbbb;
  --violet: #444054;
  --purple: #2f243a;
  --dogwood: #fac9b8;
  --salmon: #db8a74;

  --color-primary: var(--salmon);
  --color-secondary: var(--silver);
  --color-tertiary: var(--dogwood);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
